#_details {
  text-align: left;
  .pic{
    // background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vh;
    @media screen and (min-width: 800px) {
      height: 45vh;
    }
  }
  .closeButton {
    position: absolute;
    bottom: 93%;
    left: 87%;
    color:white;
    font-size: 1.4rem;
    @media screen and (min-width: 800px) {
      bottom: 90%;
      left: 90%;
      font-size: 2rem;
    }
    @media screen and (min-width: 1000px) {
      left: 92%;
    }
  }
  .container {
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: .2rem;
     .chip {
        margin-left: .8rem;
        border: .05rem solid #2D4059 ;
        border-radius: .2rem;
        background-color: rgba(0,0,0,.05);
      }
    }
    .content {
      margin-top: 1rem;
    }
  }
 
}