#_details {
  text-align: left;
  .pic{
    background-size: cover;
    background-position: center;
    background-image: url("../../static/card.jpg");
    height: 35vh;
  }
  .closeButton {
    width: 1.7em !important;
    height: 1.7rem !important;
    position: absolute;
    bottom: 94%;
    left: 87%;
    color:white;
    font-size: 1.4rem;
  }
  .container {
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: .2rem;
     .chip {
        margin-left: .8rem;
        border: .05rem solid #2D4059 ;
        border-radius: .2rem;
        background-color: rgba(0,0,0,.05);
      }
    }
    .content {
      margin-top: 1rem;
    }
  }
 
}