#_home {
  

  .container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: left;
    
    margin: auto;
    @media screen and (max-width: 600px) {
      
      margin-top: 11rem;
    }
    @media screen and (min-width: 600px) {
      width: 40%;
      margin-top: 11rem;
    }
    .title {
      font-size: .9rem;
      margin-bottom: 1rem;
      font-weight: 300;
    }
    .btn {
      border-radius: 1.2rem;
      height: 2.5rem;
      margin-top:1rem;
      box-shadow: 0 .2rem 1rem rgba($primary-color,0.6)
    }
  }
  
}