#_language {
  .container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    align-items: left;
    margin-top: 50%;
    .title {
      margin-bottom: 1rem;
    }
    .buttonContainer {
      display: flex;
      flex-direction: column;
      .btn{
        border-radius: 1.2rem;
        height: 2.5rem;
        margin-top:1rem;
        box-shadow: 0 .2rem 1rem rgba($primary-color,0.6)
      }
    }
    .nextBtn{
      margin-top: 1.5rem;
      width: 4rem;
      margin-left: 70%;
    }
  }
}