#_model{
  .card{
    .card-header {
      .title {
        display: flex;
        align-items: center;
        margin-bottom: .2rem;
        .chip {
          margin-left: .8rem;
          border: .03rem solid #2D4059;
          border-radius: .2rem;
          background-color: rgba(0, 0, 0, .05);
        }
      }
    }
    .card-body {
      margin-left: .2rem;
    }
  }
}