#_3d{
  .card{
    float: right;
    .card-header {
      .title {
        align-items: center;
        margin-bottom: .2rem;
        .modal-title {
          font-size: 1.2rem;
          @media screen and (max-width: 600px) {
            font-size: .9rem;
          }
        }
        .chip {
          border: .03rem solid #2D4059;
          border-radius: .2rem;
          background-color: rgba(0, 0, 0, .05);
          @media screen and (max-width: 600px) {
            font-size: .6rem;
          }
        }
      }
    }
    .card-body {
      margin-left: .2rem;
    }
  }
  .log {
    position: absolute;
    top: .35rem;
    left: 4.5rem;
  }
  .dis {
    position: absolute;
    top: 4rem;
    left: 2rem;
  }
  .cancel {
    position : absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .backBtn {
    position: absolute;
    display: flex !important;
    // margin-left: 7%;
    left: 2rem;
    top: 2rem;
    align-items: center;
    // margin-bottom: 4rem;
    width: 5rem !important;
    height: 2rem !important;
    border-radius: .2rem !important;
    // margin-top: 2rem;
    opacity: .8;
    // box-shadow: 0 .2rem 1rem rgba($color: #ff4e6a, $alpha: 0.6);
    // @media screen and (orientation:landscape) {
    //   width: 5rem;
    //   height: 2rem !important;
    // }
    .icon {
      font-size: $font-size;
      margin-right: .5rem;
      margin-left: .3rem;
    }
  }
}